{%title = 'Drift Panel'%}
{%sitat = `Jeg trenger å registrere hvilken by som fikk flest egg i fjor. Dette kan jeg vanligvis bare lese av statistikken under, men ser ut som den ikke vil laste inn.

Jeg tror jeg har noen tabellfiler med statistikken liggende, men husker ikke helt hvor jeg la dem...`%}
{% include header %}

<form action="/panel" class="card" method="POST">
	<h3>Registrer egg:</h3>
	{% if (typeof error != 'undefined') { %}
	<p class="error">{%=error%}</p>
	{%}%}
	<label for="by">By navn:</label>
	<input type="text" name="by" placeholder="by navn" id="by">
	<label for="egg">Egg:</label>
	<input type="number" name="egg" placeholder="0" id="egg">
	<input type="submit" value="Registrer egg">
</form>

<div class="card">
	<h3>Statistikk 2020</h3>
	<p class="error">Failed to load...</p>
</div>

<div class="card">
	<h3>Sist brukte filer:</h3>
	<p>
		<a href="/haredata/egg-produksjon.png">Egg produksjon status februar 2021</a>
	</p>
	<p>
		<a href="/haredata/egg-jakt-vinnere-2020.png">Vinnere av fjorårets eggjakt</a>
	</p>
</div>

{% include footer %}