:root {
  --background: #4E7C82;
  --text-light: white;
  --text-title: #fffcb0;
  --background-button: #37393A;

  --border: 2px solid #5f898f;
}

body {
  padding: 0;
  margin: 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--text-light);
  font-weight: 400;
}
.content {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2em;
  align-items: center;
}
.navbar {
  background: var(--background);
}
.navbar-content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 3em;
}
.navbar-content :is(p, h1, h2, h3) {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.navbar a {
  color: var(--text-title);
}
.navbar a.button {
  color:  var(--text-light);
}
.button, input[type="submit"], button {
  border: none;
  background: var(--background-button);
  color:  var(--text-light);
  padding: 0.5em;
  cursor: pointer;
}
.button:hover, input[type="submit"]:hover, button:hover {
  box-shadow: inset 100em 100em #0004;
}
.button:active, input[type="submit"]:active, button:active {
  box-shadow: inset 100em 100em #000a;
}
.card {
  border: var(--border);
  padding: 0.5em 1em;
  border-radius: 10px;
  background: var(--background);
  margin-bottom: 1.5em;
}

.sitat {
  margin-bottom: 3em;
}

.sitat img {
  width: 15%;
  margin-bottom: -0.25em;
  padding-left: 1.4em;
}

.sitat p {
  white-space: pre-wrap;
}

a {
  color: var(--text-title);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, select {
  font-size: 1em;
  padding: 0.5em;
}
select {
  border: none;
  appearance: none;
}

.error {
  font-family: monospace;
  white-space: pre-wrap;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1em;
  padding: 1em;
}

.checkpoint {
  position: fixed;
  bottom: 0;
  margin: auto;
  background: var(--background);
  text-align: center;
  width: 100%;
}