body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #37393A;
  background-image: url('/images/background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2em;
}
.button {
  background: #37393A;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}
.navbar {
  background: #73A6AD;
}
.navbar-content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 3em;
}
.navbar-content :is(p, h1, h2, h3) {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
img.sitat {
  width: 20%;
  margin-bottom: -1.1em;
  padding-left: 0.1em;
}
fieldset.sitat {
  border: 2px solid #73A6AD;
  padding: 1em;
  background: #73A6AD;
  color: #37393A;
  margin-bottom: 3em;
}

fieldset.sitat legend {
  font-size: 1.5em;
}

a {
  color: #37393A;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loginContainer {
  color:white;
  width: 40%;
  margin: auto;
  background-color: #73A6AD;
  text-align: left;
  border-radius: 10px;
  padding: 3em;
}
@media screen and (max-width: 600px) {
  .loginContainer{
    padding: 2em;
    width: 90%;
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 1em 1em;
  margin: 2em auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#loginBtn{
  margin-top: 10em;
}


